html {
    overflow-x:hidden;
}

body {
    background-image:url('imgs/goodenoughwallapaper.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

/*title*/

h1 {
    padding-top:30px;
    font-size:70px;
    font-family: "ivypresto-headline", serif;
font-weight: 700;
font-style: italic;
letter-spacing: 2px;
color:rgb(199, 21, 80);
}


/*button style*/
#btn {
    color:white;
    padding-x:5px; 
    background-color:rgb(199, 21, 80);
    font-family: "ivypresto-headline", serif;
font-weight: 200;
font-style: italic;
    border-radius:7px;
    font-size:25px;
    border-color:white;
    border-width:4px;
    border-style:double;
    margin-top:40px;
}

#btn:hover {
    transform:scale(1.08);
}

/*text before card things*/

#story {
    font-size:23px;
    font-family: "enra-semi-variable", sans-serif;
font-weight: 600;
margin-top:20px;
margin-bottom:30px;
color:crimson;
}

#story2 {
    font-size:22px;
    font-family: "enra-semi-variable", sans-serif;
font-weight: 400;
color:crimson;
}

.stylepromptinput {
    color:rgb(149, 0, 37);
    font-weight:600;
}

/*card things*/

.card-img-top {
    height:200px;
    border-bottom:3px double white;
}

.card {
    border:3px double rgb(250, 149, 168);
    background-image:linear-gradient(rgb(254, 86, 114),white,rgb(250, 163, 178));
}

.card:hover {
    transform:scale(0.97);
}

.card-text{
    font-family: "enra-semi-variable", sans-serif;
font-weight: 400;
font-size:18px;
color:crimson;
}

.card-text6 {
    font-family: "enra-semi-variable", sans-serif;
font-weight: 400;
line-height: 22px;
font-size:17px;
color:crimson;
}

/*carousel things*/
#carouselExample {
    padding-top:40px;
    margin-bottom:40px;
    position:relative;
    z-index:0;
}

.carousel-control-prev-icon {
    background-color:rgb(250, 54, 132);
}

.carousel-control-next-icon {
    background-color:rgb(250, 54, 132);
}

.carousel-control-prev {
    margin-left:-70px;
}

.carousel-control-next {
    margin-right: -70px;
}