html {
    overflow-x:hidden;
}


h1 {
    padding-top:30px;
    font-size:50px;
}

#story {
    font-size:20px;
}
#story2 {
    font-size:20px;
}

/*card things*/

.card-img-top {
    height:200px;
}

/*carousel things*/
#carouselExample {
    padding-top:40px;
    margin-bottom:40px;
    position:relative;
    z-index:0;
}

.carousel-control-prev-icon {
    background-color:black;
}

.carousel-control-next-icon {
    background-color:black;
}

.carousel-control-prev {
    margin-left:-70px;
}

.carousel-control-next {
    margin-right: -70px;
}